body {
    --bg-color: #fff;
    --bg-secondary-color: #F6F6F6;
    --text-color: #070707;
    --text-secondary-color: #828282;
    --separator-color: #828282;
    --base-font-size: 18px;
    --base-line-height: 22px;
    --title-font-size: 34px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: var(--base-font-size);
    background: var(--bg-color);
    color: var(--text-color);

}

h2 {
    font-size: var(--title-font-size);
}

.row {
    width: 100%;
}

.row-alternate-color {
    background-color: var(--bg-secondary-color);
}

.row-margin {
    margin-bottom: 100px;
}

.column {
    max-width: 945px;
    padding: 0 15px;
    margin: 0 auto;
}

.content-block {
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
}
.main-header {
    padding: 30px 0;
    border-bottom: 1px solid var(--separator-color);
}

.main-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.main-header ul a {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: bold;
    font-size: var(--base-font-size);
}

.main-header ul a.nav-item--active {
    color: var(--text-color);
}

.nav-item:hover {
    color: var(--text-color);
}

/* Introduction */

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.denis-novik-photo {
    width: 100%;
    height: auto;
}

.language-select {
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
}

.language-select__item--active {
    font-weight: bold;
}

/*about*/

.about__text {
    color: var(--text-color);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

/* Skills */

.skills {
    display: flex;
    flex-direction: column;
}
.skills__title {
    font-size: var(--title-font-size);
}

.skills__text {
    margin-top: 69px;
    margin-bottom: 83px;
    font-size: var(--base-font-size);
    color: var(--text-color);
}

.skills__types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
}

.skills_types_stars {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.skills_types_text {
    margin-top: 24px;
    margin-bottom: 40px;
    color: var(--text-secondary-color);
}

.skills__types__item:hover {
    transform: scale(115%);
    transition: 1000ms ease;
}

.skill_check {
    min-height: 230px;
}

.stars_margin_check {
    padding-top: 17px;
}

.aspect-ratio {
    width: 26px;
    height: 26px;
}

/* Portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: bold;
}

.portfolio_image {
    display: flex;
    flex-direction: column;
    gap:45px;
    margin-bottom: 80px;
}

.portfolio_image_item:hover {
    transform: scale(105%);
    transition: 1000ms ease;
}

.portfolio_link_item {
    font-size: var(--base-font-size);
    vertical-align: top;
    color: var(--text-color);
}

/* Contacts */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contacts_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
    font-size: var(--base-font-size);
    font-weight: bold;
}

.contacts_button {
    color: #FFFFFF;
    font-size: var(--base-font-size);
    background-color: #070707;
    padding: 15px 50px;
    border-radius: 20% / 70%;

}

.contacts_button:hover {
    transform: scale(115%);
    transition: 1000ms ease;
}

.contacts__social_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    color: var(--text-secondary-color);
}

.contacts__social_links__images {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.contacts_image:hover {
    transform: scale(115%);
    transition: 1000ms ease;
}

.contacts_link {
    color: var(--text-secondary-color);
    text-decoration: none;
}

.contacts_link:hover {
    color: var(--text-color);
}