body {
    --bg-color: #fff;
    --bg-secondary-color: #F6F6F6;
    --text-color: #070707;
    --text-secondary-color: #828282;
    --separator-color: #828282;
    --base-font-size: 18px;
    --base-line-height: 22px;
    --title-font-size: 34px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: var(--base-font-size);
    background: var(--bg-color);
    color: var(--text-color);

}

.row {
    width: 100%;
}

.row-alternate-color {
    background-color: var(--bg-secondary-color);
}

.row-margin {
    margin-bottom: 100px;
}

.column {
    max-width: 945px;
    padding: 0 15px;
    margin: 0 auto;
}

.content-block {
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
}
.main-header {
    padding: 20px 0;
    border-bottom: 1px solid var(--separator-color);
}

.main-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.main-header ul a {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: bold;
    font-size: var(--base-font-size);
}

.main-header ul a.nav-item--active {
    color: var(--text-color);
}
/* Introduction */

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.denis-novik-photo {
    width: 100%;
    height: auto;
}

/*about*/

/* Skills */

.skills {
    display: flex;
    flex-direction: column;
}
.skills__title {
    font-size: var(--title-font-size);
}

.skills__text {
    margin-top: 69px;
    margin-bottom: 83px;
    font-size: var(--base-font-size);
    color: var(--text-color);
}

.skills__types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
}

.skills_types_stars {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.skills_types_text {
    margin-top: 24px;
    margin-bottom: 40px;
    color: var(--text-secondary-color);
}

.skills__types__item:hover {
    transform: scale(115%);
    transition: 1000ms ease;
    box-shadow: inset 0 0 5px var(--separator-color);
    border-radius: 6%;
}

.skill_check {
    min-height: 230px;
}

.stars_margin_check {
    padding-top: 17px;
}


/* Portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: bold;
}

.portfolio_title {
    font-size: var(--title-font-size);
    vertical-align: top;
}

.portfolio_link_item {
    font-size: var(--base-font-size);
    vertical-align: top;
    color: var(--text-color);
    
}